#FullPage {
    background: #E8EAE6;
    color:#3e3f3a!important;
  }

.bg-Amulet {
    color: white!important;
    background: #7C9473!important;
    
  }
  
  .bg-darkGray {
    background: #3e3f3a!important;
    color: white!important;
  }