body {
  background: rgb(188, 220, 247)!important;

}


#bg-card {
  border-radius: 30px;
  background: rgb(241, 241, 241);

}

.btn {
  border-color: lightgray!important;
  background: white;

}
.btn:hover{
background: rgba(36, 160, 237,0.3);


}